<h2>รายงานการจัดหา (สัญญา/ใบสั่ง)</h2>
<table width=50%>
  <thead>
    <tr>
      <th align=left></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= link_to @requisition.purchase.reference_number,
        requisition_purchase_path(@requisition) %></td>
        <td><%= link_to 'แก้ไข', edit_requisition_purchase_path(@requisition) %></td>
        <td>
          <%= link_to "ลบรายงาน", requisition_purchase_path(@requisition),
        data: { confirm: "Are you sure?" }, method: :delete %>
        </td>
      </tr>
    
  </tbody>
</table>
