<h1>แก้ไขรายละเอียดพัสดุ</h1>

<%= render({:partial => "form", :locals => { :product => @product, :button_label => "Update" } }) %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
